<p style="color: green"><%= notice %></p>

<h1>News</h1>

<div id="latests">
  <% @latests.each do |latest| %>
    <%= render latest %>
    <%# <p> %>
      <%# <%= link_to "Show this latest", latest %> %>
    <%# </p> %>
  <% end %>
</div>

<%= link_to "Add News", new_latest_path %>
