<p style="color: green"><%= notice %></p>

<h1>Recent News 
<% if current_user && current_user.username == "Admin"%>
  <%= link_to 'Create New', new_article_path, class: 'btn btn-primary' %>
<%end%> 
</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>

  <% end %>
</div>

