<div class="card border-info mb-3" style="max-width: 18">
  <div class="card-body text-info">
    <p class="text-center"><%= image_tag 'logo.png' %> </p>
    <p class="card-text"><div class="text-center"><%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary'%> 
    <p></p>
  <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary'%></div></p>
  </div>
</div>