<% if current_user.avatar.attached?%>
    <div class="text-center">
        <%= image_tag(current_user.avatar, style:" display: inline-block; width: 90px; height: 90px; object-fit: cover; border-radius: 15%;") %>
    </div>

<%else%>
    <div class="text-center">
        <%= image_tag 'default-profile-pic.png', style:" display: inline-block; width: 90px; height: 90px; object-fit: cover; border-radius: 15%;" %>
    </div> 
<% end %>