<h1>Editing convention</h1>

<%= render "form", convention: @convention %>

<br>

<div>
  <%= link_to "Show this convention", @convention %> |
  <%= link_to "Return to conventions", conventions_path %>
</div>

