<h1 class = "text-center">UPCOMING CONVENTIONS</h1>

<tbody>
    <% @conventions.each do |convention| %>
      <tr>
      <p>
            <td><%= link_to convention.title, convention_path(convention)%></td>
        </p>
    </tr>
<%end%>
</tbody>

